footer {
  background: $brand-success;
  border-top: 1px solid #ff5ddd;
  .footer-wrapper  {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #FFFFFF;
    h2 {
      color: #f70867;
      margin-bottom: 0px;
    }
    .foot-nav {
      margin-left: 0px
    }
  }
  p {
    margin-top: 150px;
  }
}


.debug_dump {
  margin: 19px 30px 12px 30px
}
